footer.page-footer
    .footer-top
        .container
            .row
                .footer-phone
                    .phone-num 8-800-7000-213
                    .phone-text Бесплатный звонок по России
    .footer-body 
        .container
            .row.footer-row
                .footer-dropdown-navs
                    ul.footer-nav
                        li.dropdown
                            a(href="#" data-toggle="dropdown").dropdown-toggle Частным лицам
                            ul.dropdown-menu
                                li: a(href="#") Вклады
                                li: a(href="#") Банковские карты и счета 
                                li: a(href="#") Пакеты услуг
                                li: a(href="#") Индивидуальные сейфы 
                                li: a(href="#") Кредитование физических лиц
                                li: a(href="#") Обмен валюты
                                li: a(href="#") Переводы и платежи
                                li: a(href="#") Интернет-банк
                                li: a(href="#") MONEY BACK
                                li: a(href="#") Акции и скидки
                                li: a(href="#") Тарифы и документы
                                li: a(href="#") Подарочная карта
                        li.dropdown
                            a(href="#" data-toggle="dropdown").dropdown-toggle Компаниям
                            ul.dropdown-menu
                                li: a(href="#") Расчетно-кассовое обслуживание
                                li: a(href="#") Кредитование юридических лиц
                                li: a(href="#") Корпоративные банковские карты
                                li: a(href="#") Размещение денежных средств
                                li: a(href="#") Зарплатный проект  
                                    span.badge NEW
                                li: a(href="#") Инкассация денежных средств
                                li: a(href="#") Расчеты по аккредитивам
                                li: a(href="#") Индивидуальные сейфовые ячейки
                                li: a(href="#") Торговый эквайринг
                                li: a(href="#") Дистанционное управление финансами
                                li: a(href="#") Валютный контроль
                                li: a(href="#") MONEY BACK
                                li: a(href="#") Акции и скидки
                                li: a(href="#") Бизнес-партнеры  
                                    span.badge NEW
                                li: a(href="#") Тарифы и документы
                .footer-single-navs
                    ul.footer-nav
                      li: a(href="#") Интернет-банк
                      li: a(href="#") Онлайн сервисы
                      li: a(href="#") Новости
                      li: a(href="#") О банке
                      li: a(href="#") Тендеры
                      li: a(href="#") Пресса о банке
                      li: a(href="#") Вакансии
                      li: a(href="#") Форум

                aside.footer-aside 
                    .search-control
                        input(type="search" placeholder="Поиск").form-control.control-decorated
                        button(type="submit").search-submit
                            i.font-icon.nv-search
                    .apps-block
                        .title Мобильные приложения
                        a(href="#").app-link.icon-link
                            i.font-icon.nv-apple
                        a(href="#").app-link.icon-link
                            i.font-icon.nv-android
                    .copyright.clickzone 
                        p 
                            |© БАНК «НЕЙВА» ООО, 2009 <br/>
                            |Лицензия Банка России № 1293 от 4 июня 2012 г., 
                            |Лицензия Банка России № 1293 от 14 июня 2013 г. <br/>
                            |620142, г. Екатеринбург, ул. Чапаева, 3а
                    a(href="#").insurance-link

            .page-footer-bottom
                .row
                    .footer-clickzones.footer-col
                        .row
                            .primary.footer-col.clickzone
                                | Ответственный за полноту, достоверность и актуальность публикуемых на сайте сведений: <br/>
                                | Байкалова Валентина Семеновна, ведущий специалист отдела рекламы, тел.: (343) 222-11-00, 
                                a(href="#") info@neyvabank.ru 
                            .secondary.footer-col.clickzone
                                | Информация о лицах, под контролем либо значительным влиянием которых находится банк 
                            .secondary.footer-col.clickzone
                                | Информация о процентных ставках по договорам банковских вкладов 
                    .developer.footer-col.clickzone
                        a(href="#") Разработка: Artsofte
